/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 1.6rem;
}

img {
    max-width: 100%; /** La imagen se adapta al tamaño del padre**/
}

/** Estilos para header **/
header{
    background-color: #465B75;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
    padding: 2rem;
}

.barra-superior{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.contenedor h1{
    color: white;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}